<div class="container">
  <h2>{{title}}</h2>
  <br>
  <div class="flex-box blog-box">
    <div id="thumbnail"></div>
    <div class="blog-content">
      <h3>Description:</h3>
      <p>{{description}}</p>
      <h3>Author:</h3>
      <p><span>{{author}}</span></p>
      <p>
        <address>
            <a href="mailto:{{user.email}}"><button class="btn btn-primary">Contact Author</button></a>
        </address>
      </p>
    </div>
 </div>
 