<div id="">
  {{#each blogs as |blog|}}
    <div class="">
      <p class=""></p>
      <h2 id="">
        <a href="/Blogs/{{blog.id}}">{{blog.title}}</a>
      </h2>
      <div class="">
        <p class=""><span>{{blog.author}}</span></p>
        <p class="">Posted by {{blog.user.name}} </p>
      </div>
    </div>
  {{/each}}
</div>
