<div id="home-container">
  {{#each blogs as |blog|}}
    <div class="blog-container">
      <p class="blog-icon"></p>
      <h2 id="blog-title">
        <a href="/Blogs/{{blog.id}}">{{blog.title}}</a>
      </h2>
      <div class="p-margin">
        <p class="top-margin"><span>{{blog.author}}</span></p>
        <p class="top-margin">Posted by {{blog.user.name}} </p>
      </div>
    </div>
  {{/each}}
</div>
